[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pipdeptree = "*"
graphviz = "*"
pipfile-requirements = "*"
pypicloud = {extras = ["server"],version = "*"}

[packages]

[requires]
python_version = "3.8"
