[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pipdeptree = "*"
graphviz = "*"
pipfile-requirements = "*"
pypicloud-auth-bitbucket-cloud = {editable = true,path = "."}

[packages]
pypicloud = {extras = ["server"],version = "*"}
pypicloud-auth-bitbucket-cloud = {editable = true,path = "."}
requests = "*"
bcrypt = "*"

[requires]
python_version = "3.8"
